/*feuille de style CSS*/

/*variable*/
:root{
    --white:#ffffff;
    --black:

}

body{
    font-family: "century gothic";
    font-size: 1em;
    margin: 0;
}
        /*début du HEADER*/

header{
    background-image: url("Image1.svg");
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    height: 100vh;
}

        /*titre Welcome*/
header h1{
    color:var(--white);
    margin-left: 50%;
    margin-top:12%;
    font-size: 70px;
    font-weight: lighter;
}
        /*logo*/
header img{
    padding-top: 10%;
    /*il manque le décalage du logo sur la gauche*/
}
        /*bouton "débuter l'expérience"*/ 
header a{
    text-decoration: none;
    background-color: black ;
    color: var(--white);
    border: 0;
    padding: 35px 100px;
    box-shadow: 8px 8px 0px rgba(190, 190, 190, 0.623);
}
        /*bouton setting*/
.setting{
    width: 3%;
    color:rgba(245, 245, 245, 0.76);
    position: relative;
    top:-20em; left:52em;
}
        /*bouton burger pour le menu*/
.menu{
    width: 3%;
    color:rgba(245, 245, 245, 0.76);
    position: relative;
    top:-20em; left:42em;
}
        /*fin du Header*/

        /*barre*/
hr{
    width:10%;
    color:rgba(140,140,140,255);
    height: 4px;
    background-color: rgba(140,140,140,255);
    border: rgba(140,140,140,255);
}
        /*titres du main*/
h2{
    color: rgba(7,182,162,255);
    text-align: center;
    font-size: 2rem;

        /*section 1*/
}
.section1{
    text-align: center;
}
        /*section 2*/
.section2{
    display: flex;
    flex-direction: row;
}
.section2 p{
    width: 80%;
    margin: auto
}
.section2 h2{
    margin-left: 50%;
}
.section2 hr{
    margin-left:70%;
    margin-bottom: 3%;
}
        /*section3*/
span{
    color:grey;
}
.section3 p{
    width: 90%;
    margin: auto;
}
.section3 hr{
    margin-bottom: 2%;
}
        /*section 4*/
.section4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    text-align: center;
    color:white;
    font-weight: bold;
}
        /*les 3 blocs*/
    .bloc1{
        background-color: rgba(82,191,184,255);
        margin-right: 3%;
        width:20%;
        height:40%;
        padding: 3% 3% 0% 3%;
        font-size: 2em;
        margin-bottom: 5%;
    }
    .bloc2{
        background-color:rgba(77,0,154,255);
        margin-right: 3%;
        width: 20%;
        height: 40%;
        padding: 3% 3% 2% 3%;
        font-size: 2em;
        margin-bottom: 5%;
    }
    .bloc3{
        background-color:rgba(155,0,102,255);
        width: 20%;
        height: 40%;
        padding: 3% 3% 0.5% 3%;
        font-size: 2em;
        margin-bottom: 5%;
        
    }
    .bloc{
        line-height: 1%;
        font-size: 2em;
    }
        /*section 5*/
.robot{
    border-radius: 0 5% 0 5%;
    width: 80%;
    margin-bottom: 5%;
}
        /*section 6*/
.section6{
    font-weight:lighter;
}
.liste{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}
.actv1{
    list-style-type: none;
    margin-right: 30%;
    font-size: 1.5em;
    color:rgba(90, 89, 89, 0.979);
}
.actv2{
    list-style-type: none;
    font-size: 1.5em;
    color:rgba(90, 89, 89, 0.979);
}
.section7{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}
        /*section 8*/
.section8{
    background: linear-gradient(to right, #c2004e, #1adde0);
    border-radius:0 65px 0 0 ;
    width: 1807px;
    height: 475px;
    position: relative;
}
        /*bouton "Vivre l'avanture"*/
.aventure{
    text-decoration: none;
    background-color: rgba(241, 238, 238, 0.123);
    color:white;
    border: 2px solid;
    border-color:white;
    padding: 30px 70px 30px 70px;
    font-size: 200%;
    margin-left: 40%;
    margin-top: -60%;
    position: absolute;
    bottom:  30%;
}
        /*footer*/
footer{
    background-color:rgba(62,62,62,255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgba(190,190,190,255);
    position: relative;
    padding-right: 10%;
}
.réseaux{
    position: absolute;
    bottom:0;
}
.adresse{
    margin-left: 10%;
}
